body {
  margin: 10px auto;
  width: 100%;
}

nav {
  list-style: none;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  font-weight: bold;
}

nav ul li,
footer ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.1em;
}

ul.posts li {
  list-style: none;
  border: darkorange solid 1px;
}

.containter-heading {
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  text-align: center;
  width: 100%;
}
