<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="logo"><a href="/">Anil's Blog</a></li>
          <li><a href="/menu/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- <aside id="aside-left">
        {% if paginator.previous_page %}
        <span class="arrow-active">
          <a href="{{ paginator.previous_page_path }}" class="previous">
            &lt;
          </a>
        </span>
        {% else %}
        <span class="arrow-pasive">&lt;</span>
        {% endif %}
      </aside>-->
      <div class="container disable-scrollbars">
        {{ content }}
      </div>
      <!-- <aside id="aside-right">
        {% if paginator.next_page %}
        <span class="arrow-active">
          <a href="{{ paginator.next_page_path }}" class="next">
            &gt;
          </a>
        </span>
        {% else %}
        <span class="arrow-pasive">&gt;</span>
        {% endif %}
      </aside> -->
    </main>
    <footer>
      <ul>
        <li><a href="anil.sengul@powercoders.org">Github: </a></li>
        <li>
          <a href="https://github.com/anil-sengul">github.com/anil-sengul</a>
        </li>
        <!-- <li class="white">
          Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </li> -->
      </ul>
    </footer>
  </body>
</html>
