<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li class="logo"><a href="/">Anil's Blog</a></li>
        <li class="item"><a href="/menu/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container disable-scrollbars">
      {{ content }}
    </div>
    <footer>
      <ul class="menu">
        <li class="item"><a href="anil.sengul@powercoders.org">Github: </a></li>
        <li class="item">
          <a href="https://github.com/anil-sengul">github.com/anil-sengul</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
