* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 1.1vw;
  background-color: #222;
}

nav {
  background: #222;
  padding: 0 0.938em;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

nav a,
footer a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.375em 0.375em;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  align-items: center;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: #ccc;
}

.logo {
  font-size: 1.25em;
  padding: 0.5em 0.625em 0.5em 0;
}

.container {
  margin: 0 auto;
  width: 70%;
  background-color: darkgray;
  /* display: flex; */
  height: 85vh;
  overflow-y: auto;
}

h1 {
  /* padding: 1%;*/
  text-indent: 1.25em;
  margin-top: 2%;
  /* margin: 2%; */
  font-size: 1.7em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

p {
  text-indent: 1.25em;
  font-size: 1.1vw;
  padding: 1%;
  line-height: 1.4em;
  color: #333;
}

ul.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 4%;
  font-size: 1.1em;
}

ul.posts li {
  /* flex: 1 0 21%; */
  width: 20%;
  height: 30%;
  list-style: none;
  margin: 2%;
  /* background-color: darkolivegreen; */
}

.summary-image-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 16vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.summary-image-container img {
  width: 50%;
  height: auto;
}

.summary-title-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.summary-title-container p {
  padding: 0;
  margin: 0;
  text-indent: 0;
}

.summary-title-container a {
  display: block;
  color: #222;
  text-decoration: none;
  font-size: 1.2vw;
}

.post-image-container {
  text-align: center;
}

.post-image-container img {
  margin-top: 2%;
  width: 30%;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
